{% include 'base.html.twig' %}
{% include 'partials/_menu.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Installer un poste de travail sur Ubuntu</h1>
    </div>
{% endblock %}